* {
	font-family: 'Roboto', sans-serif;
}

/*tampilan login*/


/*tampilan bagian body*/
body {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

/*tampilan utama*/
* {
	font-family: sans-serif;
	box-sizing: border-box;
}

/*tampilan bagian form*/
form {
	width: 500px;
	border: 2px solid #1f1d1d;
	padding: 30px;
	background: #1a1919;
	border-radius: 15px;
}

title {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

/*tampilan bagian h2*/
h2 {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

/*tampilan bagian input*/
input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

/*tampilan bagian label*/
label {
	color: #fcf9f9;
	font-size: 18px;
	padding: 10px;
}

/*tampilan bagian button*/
button {
	float: right;
	justify-content: center;
	background: #004C8F;
	padding: 10px 190px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	width: 95%;
	border: none;
}

/*tampilan klik button*/
button:hover {
	opacity: .7;
}

/*tampilan bagian error*/
.error {
	background: #F2DEDE;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}

/*tampilan bagian success*/
.success {
	background: #D4EDDA;
	color: #40754C;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}

/*tampilan bagian h1*/
h1 {
	text-align: center;
	color: #fff;
}

/*tampilan bagian ca*/
.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #00A3FF;
}

/*tampilan bagian klik ca*/
.ca:hover {
	text-decoration: underline;
}